If:
  PathMatch: [.*\.h, .*\.c, .*\.cpp, .*\.cc, .*\.cxx, .*\.hpp, .*\.hxx, .*\.m, .*\.mm, .*\.in]
  PathExclude: [include/**/*, include/*]
CompileFlags:
  Add: [-xc++, -Wall, --std=c++2a]
  # Remove: -W*
  Compiler: g++
InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No
